{###### Helper ##############}

{# todo don't use theme here! #}
{% macro jw_renderStart(form) %}
  {{ form.startEnd.start | raw }}
{% endmacro %}

{# todo don't use theme here! #}
{% macro jw_renderEnd(form) %}
  {{ form.startEnd.end | raw }}
{% endmacro %}

{% macro jw_renderSubmit(element) %}
  <input tabindex="{{ element.tabIndex }}" type="submit" value="Save">
{% endmacro %}

{% macro jw_startingDiv(producerInfo) %}
    <div class="form-group {{ producerInfo.elementResult.validationResult.isSuccess? "has-success":
    (producerInfo.elementResult.validationResult.isError?"has-error":"")
    }}">
{% endmacro %}

{% macro jw_label(label, producerInfo) %}
  <label class="control-label" for="{{ producerInfo.nameOfInput }}">{{ label }}: {{ producerInfo.elementContainer.validator.isRequired?"*":"" }}</label>
{% endmacro %}

{% macro jw_error(producerInfo) %}
    {% if producerInfo.elementResult.validationResult.isError %}
    <span class="helpBlock error">{{ producerInfo.elementResult.validationResult.message }}</span>
    {% endif %}
{% endmacro %}

{% macro js_help(name, helptext) %}
    {% if helptext is not empty %}
    <span id="helpBlock-{{ name }}" class="help-block">{{ helptext }}</span>
    {% endif %}
{% endmacro %}

{% macro js_requiredAttribute(producerInfo) %}
  {{ producerInfo.elementContainer.validator.isRequired?" required ":"" }}
{% endmacro %}

{% macro js_maxLenAtrribute(producerInfo) %}
  {{ (producerInfo.elementContainer.validator.maxLen is not null?(' maxlength="'+producerInfo.elementContainer.validator.maxLen.maxLength+'"') | raw :"") }}
{% endmacro %}

{% macro js_tabIndex(producerInfo) %}
  tabindex="{{ producerInfo.tabIndex }}"
{% endmacro %}

{###### Types ##############}

{% macro jw_renderTextType(producerInfo, type) %}
    {{ jw_startingDiv(producerInfo) }}
    {{ jw_label(producerInfo.element.oneValueElement.decoration.label, producerInfo) }}
    <input class="form-control" {{ js_tabIndex(producerInfo) }} type="{{ type }}" 
    name="{{ producerInfo.nameOfInput }}" value="{{ producerInfo.elementResult.value }}"
    {{ js_requiredAttribute(producerInfo) }}
    {{ js_maxLenAtrribute(producerInfo) }}
    {% if producerInfo.element.oneValueElement.decoration.helptext is not empty %}
    aria-describedby="helpBlock-{{ producerInfo.nameOfInput }}"
    {% endif %} >
    {{ jw_error(producerInfo) }}
    {{ js_help( producerInfo.nameOfInput, producerInfo.element.oneValueElement.decoration.helptext) }}
    </div>
{% endmacro %}

{% macro jw_renderTextAreaType(producerInfo) %}
    {{ jw_startingDiv(producerInfo) }}
    {{ jw_label(producerInfo.element.oneValueElement.decoration.label, producerInfo) }}
    <textarea class="form-control" {{ js_tabIndex(producerInfo) }}  name="{{ producerInfo.nameOfInput }}" 
    {{ js_requiredAttribute(producerInfo) }} 
    {{ js_maxLenAtrribute(producerInfo) }}
    {% if producerInfo.element.oneValueElement.decoration.helptext is not empty %}
    aria-describedby="helpBlock-{{ producerInfo.nameOfInput }}"
    {% endif %} >{{ producerInfo.elementResult.value }}</textarea>
    {{ jw_error(producerInfo) }}
    {{ js_help(producerInfo.nameOfInput, producerInfo.element.oneValueElement.decoration.helptext) }}
    </div>
{% endmacro %}

{% macro jw_renderRadioType(producerInfo) %}
    {{ jw_startingDiv(producerInfo) }}
    {{ jw_label(producerInfo.element.oneValueElement.decoration.label, producerInfo) }}
    {% for radioEntry in producerInfo.element.entries %}
    <div class="radio">
    <label>
      <input type="radio" name="{{ producerInfo.nameOfInput }}" id="form-radio-{{ producerInfo.nameOfInput }}-{{ radioEntry.key}}" 
      value="{{ radioEntry.key}}" {{ producerInfo.elementResult.value == radioEntry.key?"checked":"" }} 
      {{ js_requiredAttribute(producerInfo) }}
      {{ js_tabIndex(producerInfo) }} 
      >
        {{ radioEntry.value}}</label>
    </div>
    {% endfor %}
    {{ jw_error(producerInfo) }}
    </div>
{% endmacro %}

{% macro jw_renderTextDateType(producerInfo) %}
    {{ jw_startingDiv(producerInfo) }}
    {{ jw_label(producerInfo.element.decoration.label, producerInfo) }}
    {% for piChild in producerInfo.childs %}
    {{ jw_renderElementFree(piChild) }}
    {% endfor %}
    {{ jw_error(producerInfo) }}
    </div>
{% endmacro %}


{% macro jw_renderSelectDateType(producerInfo) %}
    {{ jw_startingDiv(producerInfo) }}
    {{ jw_label(producerInfo.element.decoration.label, producerInfo) }}
    {% for piChild in producerInfo.childs %}
    {{ jw_renderElementFree(piChild) }}
    {% endfor %}
    {{ jw_error(producerInfo) }}
    </div>
{% endmacro %}


{% macro jw_renderSelectType(producerInfo) %}
    {{ jw_startingDiv(producerInfo) }}
    {{ jw_label(producerInfo.element.oneValueElement.decoration.label, producerInfo) }}
    <select class="form-control" {{ js_tabIndex(producerInfo) }}  name="{{ producerInfo.nameOfInput }}" 
    {{ js_requiredAttribute(producerInfo) }}
    aria-describedby="helpBlock-{{ producerInfo.nameOfInput }}">
    {% for selectElem in producerInfo.element.entries %}
    <option value="{{ selectElem.key }}" {{ producerInfo.elementResult.value == selectElem.key?"SELECTED":"" }}>{{ selectElem.value }}</option>
    {% endfor %}
    </select>
    {{ jw_error(producerInfo) }}
    </div>
{% endmacro %}

{% macro jw_renderCheckBoxType(producerInfo) %}
    {{ jw_startingDiv(producerInfo) }}
    {{ jw_label(producerInfo.element.decoration.label, producerInfo) }}
    <input tabindex="{{ producerInfo.tabIndex }}" {{ js_tabIndex(producerInfo) }}  
    type="checkbox" name="{{ producerInfo.nameOfInput }}" 
    {{ js_requiredAttribute(producerInfo) }}
    value="" {{ producerInfo.elementResult.valueObject?"checked":"" }} aria-describedby="helpBlock-{{ producerInfo.nameOfInput }}" >
    {{ js_help( producerInfo.nameOfInput, producerInfo.element.decoration.helptext) }}
    </div>
{% endmacro %}


{###### Router ##############}

{% macro jw_renderElementFree(producerInfo) %}
    {% if  producerInfo.elementTypeName == "jwebform.element.XSRFProtectionType" %}
    {{ producerInfo.html | raw }}
    {% elseif producerInfo.elementTypeName == "jwebform.element.TextType" %}
    {{ jw_renderTextType(producerInfo, "text") }}
    {% elseif producerInfo.elementTypeName == "jwebform.element.SubmitType" %}
    {{ jw_renderSubmit(producerInfo) }}
    {% elseif producerInfo.elementTypeName == "jwebform.element.NumberType" %}
    {{ jw_renderTextType(producerInfo, "number") }}
    {% elseif producerInfo.elementTypeName == "jwebform.element.TextDateType" %}
    {{ jw_renderTextDateType(producerInfo) }}
    {% elseif producerInfo.elementTypeName == "jwebform.element.SelectType" %}
    {{ jw_renderSelectType(producerInfo) }}
    {% elseif producerInfo.elementTypeName == "jwebform.element.CheckBoxType" %}
    {{ jw_renderCheckBoxType(producerInfo) }}
    {% elseif producerInfo.elementTypeName == "jwebform.element.TextAreaType" %}
    {{ jw_renderTextAreaType(producerInfo) }}
    {% elseif producerInfo.elementTypeName == "jwebform.element.SelectDateType" %}
    {{ jw_renderSelectDateType(producerInfo) }}
    {% elseif producerInfo.elementTypeName == "jwebform.element.PasswordType" %}
    {{ jw_renderTextType(producerInfo, "password") }}
    {% elseif producerInfo.elementTypeName == "jwebform.element.RadioType" %}
    {{ jw_renderRadioType(producerInfo) }}
    {% else  %}
    {{ producerInfo.elementTypeName }} not yet supported by this template
    {% endif %}
{% endmacro %}


{# renders the form completly within the template #}
{% macro jw_renderFormFree(form) %}
    {{ jw_renderStart(form) }}
    {% for producerInfo in form.unrenderedElements %}
    {{ jw_renderElementFree(producerInfo) }}
    {% endfor %}
    {{ jw_renderEnd(form) }}
{% endmacro %}