{###### Utils ##############}
{% macro jw_renderStart(form, formClass) %}
  {{ form.startEnd.start(" class=\""+formClass+"\" ") | raw }}
{% endmacro %}


{# todo don't use theme here! #}
{% macro jw_renderEnd(form) %}
  {{ form.startEnd.end | raw }}
{% endmacro %}



{% macro jw_label(producerInfo) %}
{% if producerInfo.element.decoration.label is not empty %}
  <label class="control-label" for="{{ producerInfo.nameOfInput }}">{{ producerInfo.element.decoration.label }}: {{ producerInfo.elementContainer.validator.isRequired?"*":"" }}</label>
{% endif %}
{% endmacro %}

{% macro jw_error(producerInfo) %}
    {% if producerInfo.elementResult.validationResult.isError %}
    <br><span class="helpBlock error">{{ message(producerInfo.elementResult.validationResult.message) }}</span>
    {% endif %}
{% endmacro %}

{% macro js_help(producerInfo) %}
    {% if producerInfo.element.decoration.helptext is not empty %}
    <span id="helpBlock-{{ producerInfo.nameOfInput }}" class="help-block">{{ producerInfo.element.decoration.helptext }}</span>
    {% endif %}
{% endmacro %}

{% macro js_requiredAttribute(producerInfo) %}
  {{ producerInfo.elementContainer.validator.isRequired?" required ":"" }}
{% endmacro %}

{% macro js_maxLenAtrribute(producerInfo) %}
  {{ (producerInfo.elementContainer.validator.maxLen is not null?(' maxlength="'+producerInfo.elementContainer.validator.maxLen.maxLength+'"') | raw :"") }}
{% endmacro %}

{% macro js_tabIndex(producerInfo) %}
  tabindex="{{ producerInfo.tabIndex }}"
{% endmacro %}

{% macro js_nameAttribute(producerInfo) %}
  name="{{ producerInfo.nameOfInput }}"
{% endmacro %}

{% macro js_ariaDescribedBy(producerInfo) %}
  {% if producerInfo.element.decoration.helptext is not empty %}
    aria-describedby="helpBlock-{{ producerInfo.nameOfInput }}"
  {% endif %}
{% endmacro %}


{% macro js_placeholder(producerInfo) %}
  {% if producerInfo.element.decoration.placeholder is not empty %}
    placeholder="{{ producerInfo.element.decoration.placeholder }}"
  {% endif %}
{% endmacro %}

{% macro jw_startingDiv(producerInfo) %}
    <div class="form-group {{ producerInfo.elementResult.validationResult.isSuccess? "has-success":
    (producerInfo.elementResult.validationResult.isError?"has-error":"")
    }}">
{% endmacro %}


{% macro js_inputClass() %}
{# no classes here #}
{% endmacro %}

{###### Types ##############}

{% macro jw_renderTextType(producerInfo, type) %}
    {{ jw_startingDiv(producerInfo) }}
        {{ jw_label(producerInfo) }}
        <input 
          {{ js_inputClass() }}
          type="{{ type }}"
          value="{{ producerInfo.elementResult.value }}"
          {{ js_tabIndex(producerInfo) }}  
          {{ js_nameAttribute(producerInfo) }} 
          {{ js_requiredAttribute(producerInfo) }}
          {{ js_maxLenAtrribute(producerInfo) }}
          {{ js_placeholder(producerInfo) }}
          {{ js_ariaDescribedBy(producerInfo) }}
        >
        {{ jw_error(producerInfo) }}
        {{ js_help( producerInfo) }}
    </div>
{% endmacro %}

{% macro jw_renderTextAreaType(producerInfo) %}
    {{ jw_startingDiv(producerInfo) }}
        {{ jw_label(producerInfo) }}
        <textarea 
          {{ js_inputClass() }}
          {{ js_tabIndex(producerInfo) }}  
          {{ js_nameAttribute(producerInfo) }} 
          {{ js_requiredAttribute(producerInfo) }} 
          {{ js_maxLenAtrribute(producerInfo) }}
          {{ js_placeholder(producerInfo) }}
          {{ js_ariaDescribedBy(producerInfo) }}
         >{{ producerInfo.elementResult.value }}</textarea>
        {{ jw_error(producerInfo) }}
        {{ js_help( producerInfo) }}
    </div>
{% endmacro %}

{% macro jw_renderSubmit(producerInfo) %}
<div>
<button type="submit" class="btn" name="{{ producerInfo.element.name }}" value="" {{ js_tabIndex(producerInfo) }} >{{ producerInfo.element.label }}</button><br>
</div>
{% endmacro %}

{% macro jw_renderRadioType(producerInfo) %}
    {{ jw_startingDiv(producerInfo) }}
        {{ jw_label(producerInfo) }}
        {% for radioEntry in producerInfo.element.entries %}
            <div class="radio">
                <label>
                  <input type="radio" 
                    id="form-radio-{{ producerInfo.nameOfInput }}-{{ radioEntry.key}}"
                    {{ js_nameAttribute(producerInfo) }}  
                    value="{{ radioEntry.key}}" 
                    {{ producerInfo.elementResult.value == radioEntry.key?"checked":"" }} 
                    {{ js_requiredAttribute(producerInfo) }}
                    {{ js_tabIndex(producerInfo) }} 
                  >
                  {{ radioEntry.value}}
                </label>
            </div>
        {% endfor %}
        {{ jw_error(producerInfo) }}
    </div>
{% endmacro %}

{% macro jw_renderTextDateType(producerInfo, overrides) %}
    {{ jw_startingDiv(producerInfo) }}
        {{ jw_label(producerInfo) }}
        {% for piChild in producerInfo.childs %}
          {{ jw_renderElementFree(piChild, overrides) }}
        {% endfor %}
        {{ jw_error(producerInfo) }}
    </div>
{% endmacro %}




{% macro jw_renderSelectDateType(producerInfo, overrides) %}
    {{ jw_startingDiv(producerInfo) }}
      {{ jw_label(producerInfo) }}
      {% for piChild in producerInfo.childs %}
        {{ jw_renderElementFree(piChild, overrides) }}
      {% endfor %}
      {{ jw_error(producerInfo) }}
    </div>
{% endmacro %}


{% macro jw_renderSelectType(producerInfo) %}
    {{ jw_startingDiv(producerInfo) }}
        {{ jw_label(producerInfo) }}
        <select class="form-control" 
          {{ js_tabIndex(producerInfo) }}
          {{ js_nameAttribute(producerInfo) }} 
          {{ js_requiredAttribute(producerInfo) }}
          {{ js_ariaDescribedBy(producerInfo) }}
        >
            {% for selectElem in producerInfo.element.entries %}
              <option value="{{ selectElem.key }}" {{ producerInfo.elementResult.value == selectElem.key?"SELECTED":"" }}>{{ selectElem.value }}</option>
            {% endfor %}
        </select>
        {{ jw_error(producerInfo) }}
        {{ js_help( producerInfo) }}
    </div>
{% endmacro %}

{# renders the form completly within the template #}
{% macro jw_renderFormFree(form, overrides) %}
    {{ jw_renderStart(form, overrides["form_class"]) }}
    {% for producerInfo in form.unrenderedElements %}
        {{ jw_renderElementFree(producerInfo, overrides) }}
    {% endfor %}
    {{ jw_renderEnd(form) }}
{% endmacro %}

{% macro jw_renderCheckBoxType(producerInfo) %}
    {{ jw_startingDiv(producerInfo) }}
        {{ jw_label(producerInfo) }}
      <input type="checkbox" 
        {{ js_tabIndex(producerInfo) }}  
        {{ js_nameAttribute(producerInfo) }} 
        {{ js_requiredAttribute(producerInfo) }}
        {{ producerInfo.elementResult.valueObject?"checked":"" }} 
        {{ js_ariaDescribedBy(producerInfo) }}
      >
      {{ js_help( producerInfo) }}
    </div>
{% endmacro %}

{% macro jw_renderUpload(producerInfo) %}
    {{ jw_startingDiv(producerInfo) }}
    {{ jw_label(producerInfo) }}
      <input  accept="image/*" id="form-image" {{ js_tabIndex(producerInfo) }}  type="file" {{ js_nameAttribute(producerInfo) }} value="">
      </div>
{% endmacro %}

{###### Router ##############}

{% macro jw_renderElementFree(producerInfo, overrides) %}
    {% if overrides["override_types"][producerInfo.elementTypeName] is not empty %} 
      {{ renderIndividual(producerInfo) }}
    {% else  %}
        {% if  producerInfo.elementTypeName == "jwebform.element.XSRFProtectionType" %}
            {{ producerInfo.html | raw }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.TextType" %}
            {{ jw_renderTextType(producerInfo, "text") }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.HtmlType" %}
            {{ producerInfo.html | raw }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.SubmitType" %}
            {{ jw_renderSubmit(producerInfo) }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.NumberType" %}
            {{ jw_renderTextType(producerInfo, "number") }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.TextDateType" %}
            {{ jw_renderTextDateType(producerInfo, overrides) }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.SelectType" %}
            {{ jw_renderSelectType(producerInfo) }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.CheckBoxType" %}
            {{ jw_renderCheckBoxType(producerInfo) }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.TextAreaType" %}
            {{ jw_renderTextAreaType(producerInfo) }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.SelectDateType" %}
            {{ jw_renderSelectDateType(producerInfo, overrides) }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.UploadType" %}
            {{ jw_renderUpload(producerInfo) }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.PasswordType" %}
            {{ jw_renderTextType(producerInfo, "password") }}
        {% elseif producerInfo.elementTypeName == "jwebform.element.RadioType" %}
            {{ jw_renderRadioType(producerInfo) }}
        {% else  %}
            {{ renderIndividual(producerInfo) }}
        {% endif %}
    {% endif %}
{% endmacro %}
