{# todo don't use theme here! #}
{% macro jw_renderStart(form) %}
{{ form.startEnd.start | raw }}
{% endmacro %}

{# todo don't use theme here! #}
{% macro jw_renderEnd(form) %}
{{ form.startEnd.end | raw }}
{% endmacro %}

{% macro renderSubmit(element) %}
<input tabindex="{{ element.tabIndex }}" type="submit" value="Save">
{% endmacro %}


{% macro renderTextType(producerInfo, type) %}
<div class="form-group">
<label class="control-label" for="{{ producerInfo.nameOfInput }}">{{ producerInfo.element.oneValueElement.decoration.label }}:</label>
<input class="form-control" tabindex="{{ producerInfo.tabIndex }}" type="{{ type }}" name="{{ producerInfo.nameOfInput }}" value="{{ producerInfo.elementResult.value }}" 
{% if producerInfo.element.oneValueElement.decoration.helptext is not empty %}
aria-describedby="helpBlock-{{ producerInfo.nameOfInput }}"
{% endif %} >
{% if producerInfo.element.oneValueElement.decoration.helptext is not empty %}
<span id="helpBlock-{{ producerInfo.nameOfInput }}" class="help-block">{{ producerInfo.element.oneValueElement.decoration.helptext }}</span>
{% endif %}
</div>
{% endmacro %}

{% macro renderTextAreaType(producerInfo) %}
<div class="form-group">
<label class="control-label" for="{{ producerInfo.nameOfInput }}">{{ producerInfo.element.oneValueElement.decoration.label }}:</label>
<textarea class="form-control" tabindex="{{ producerInfo.tabIndex }}" name="{{ producerInfo.nameOfInput }}"  
{% if producerInfo.element.oneValueElement.decoration.helptext is not empty %}
aria-describedby="helpBlock-{{ producerInfo.nameOfInput }}"
{% endif %} >{{ producerInfo.elementResult.value }}</textarea>
{% if producerInfo.element.oneValueElement.decoration.helptext is not empty %}
<span id="helpBlock-{{ producerInfo.nameOfInput }}" class="help-block">{{ producerInfo.element.oneValueElement.decoration.helptext }}</span>
{% endif %}
</div>
{% endmacro %}


{% macro renderTextDateType(producerInfo) %}
<div class="form-group">
<label class="control-label" for="{{ producerInfo.nameOfInput }}">{{ producerInfo.element.decoration.label }}:</label>
{% for piChild in producerInfo.childs %}
{{ jw_renderElementFree(piChild) }}
{% endfor %}
</div>
{% endmacro %}


{% macro renderSelectType(producerInfo) %}
<div class="form-group">
<label class="control-label" for="{{ producerInfo.nameOfInput }}">{{ producerInfo.element.oneValueElement.decoration.label }}:</label>
<select class="form-control" tabindex="{{ producerInfo.tabIndex }}" name="{{ producerInfo.nameOfInput }}" aria-describedby="helpBlock-{{ producerInfo.nameOfInput }}">
{% for selectElem in producerInfo.element.entries %}
<option value="{{ selectElem.key }}" {{ producerInfo.elementResult.value == selectElem.key?"SELECTED":"" }}>{{ selectElem.value }}</option>
{% endfor %}
</select>
{% if producerInfo.element.oneValueElement.decoration.helptext is not empty %}
<span id="helpBlock-{{ producerInfo.nameOfInput }}" class="help-block">{{ producerInfo.element.oneValueElement.decoration.helptext }}</span>
{% endif %}
</div>
{% endmacro %}

{% macro renderCheckBoxType(producerInfo) %}
<div class="form-group">
<label class="control-label" for="{{ producerInfo.nameOfInput }}">{{ producerInfo.element.decoration.label }}:{{ producerInfo.elementResult.valueObject }}</label>
<input tabindex="{{ producerInfo.tabIndex }}" type="checkbox" name="{{ producerInfo.nameOfInput }}" value="" {{ producerInfo.elementResult.valueObject?"checked":"" }} aria-describedby="helpBlock-{{ producerInfo.nameOfInput }}">
{% if producerInfo.element.decoration.helptext is not empty %}
<span id="helpBlock-{{ producerInfo.nameOfInput }}" class="help-block">{{ producerInfo.element.decoration.helptext }}</span>
{% endif %}
</div>
{% endmacro %}

{% macro jw_renderElementFree(producerInfo) %}
{% if  producerInfo.elementTypeName == "jwebform.element.XSRFProtectionType" %}
{{ producerInfo.html | raw }}
{% elseif producerInfo.elementTypeName == "jwebform.element.TextType" %}
{{ renderTextType(producerInfo, "text") }}
{% elseif producerInfo.elementTypeName == "jwebform.element.SubmitType" %}
{{ renderSubmit(producerInfo) }}
{% elseif producerInfo.elementTypeName == "jwebform.element.NumberType" %}
{{ renderTextType(producerInfo, "number") }}
{% elseif producerInfo.elementTypeName == "jwebform.element.TextDateType" %}
{{ renderTextDateType(producerInfo) }}
{% elseif producerInfo.elementTypeName == "jwebform.element.SelectType" %}
{{ renderSelectType(producerInfo) }}
{% elseif producerInfo.elementTypeName == "jwebform.element.CheckBoxType" %}
{{ renderCheckBoxType(producerInfo) }}
{% elseif producerInfo.elementTypeName == "jwebform.element.TextAreaType" %}
{{ renderTextAreaType(producerInfo) }}
{% elseif producerInfo.elementTypeName == "jwebform.element.PasswordType" %}
{{ renderTextType(producerInfo, "password") }}
{% else  %}
{{ producerInfo.elementTypeName }}
{% endif %}


<br>
{% endmacro %}

{#
TODO: 
Einzelne 
* Label ausgabe
* Input-Field ausgabe
* Helptext ausgabe
* error-Ausgabe
#}


{# renders the form completly within the template #}
{% macro jw_renderFormFree(form) %}
{{ jw_renderStart(form) }}
{% for producerInfo in form.unrenderedElements %}
{{ jw_renderElementFree(producerInfo) }}
{% endfor %}
{{ jw_renderEnd(form) }}
{% endmacro %}